<template lang="pug">
q-page.flex.flex-center.q-pa-md
  section
    h3.text-h3.text-weight-medium.text-blue-grey-10 Página de Inicio
    p.text-body1.text-center Detalles

</template>

<script>

export default {
  name: 'IndexPage'
}
</script>
